*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.main{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px;
    margin-top: 30px;
}

.logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text h1{
    font-family: PT Serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
}


.definition-text h3{
    font-family: poppins;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}
.definition-text p{
    width: 80%;
    font-family: poppins;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}

.photo-name img{
    height: 360px;
}

.photo-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    padding-top: 80px;
}
.photo{
    display: flex;
}

.photo-name p{
    font-family: poppins;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}

.vertical-text{
    writing-mode: vertical-rl;
    padding-left: 5px;
    text-transform: uppercase;
}
.vertical-text p{
   font-family: PT Serif;
   font-size: 12px;
   font-weight: 600;
   font-style: normal;
   line-height: 16px;
}

.position{
    margin-top: 100px;
}

@media screen and (max-width:480px){
    .container{
        width: 85%;
        padding: 1rem;
    }
    .main{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .text-content{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .logo-text{
        width: 100vw;
        display: flex;
        justify-content: start;
    }

    .definition-text{
        margin-top: 30px;
        width: 100vw;
    }

    .photo-name img{
        height: 250px;
    }

    .photo-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        padding-top: 80px;
    }
    
    .position{
        margin-top: 0;
    }

    .res-position{
        margin-top: 60px;
    }

}